$blue: #5cacc4;
$green: #8cd19d;
$lemmon: #cee879;
$orange: #fcb653;
$red: #ff5254;
$white: #fff;
$lightback: #eee;

$primary: #7375a5;
$seccondary: #21a3a3;
$back: #2b364a;
$light: #6cf3d5;

$shadow: rgba(30,30,30,0.5);

$transition: 0.3s;